/*
* @Author: Administrator
* @Date:   2020-08-03 19:21:30
* @Last Modified by:   Administrator
* @Last Modified time: 2020-08-03 19:25:56
*/
.footer{
    padding-bottom: 10px;
}

.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}

.footer .links .links{
    padding: 0 10px;
}

.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}